name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: fastapi
          environment-file: environment.yml
          auto-activate-base: false

      - name: Show Python version
        shell: bash -l {0}
        run: python --version

      - name: Lint with flake8
        shell: bash -l {0}
        run: flake8 .

      - name: Run tests
        shell: bash -l {0}
        run: pytest -q
